*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    }

    body{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #0f0f0f;
    }

    .calculator{
        width: 280px;
        background-color: #333;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }

    .display{
        background-color: #222;
        color: #fff;
        font-size: 32px;
        padding: 20px;
        text-align: right;
        min-height: 60px;
    }

    .buttons{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .button{
        padding: 20px;
        font-size: 18px;
        border: 1px solid #444;
        color: #fff;
        cursor: pointer;
        outline: none;
    }

    .button:hover{
        background-color: #555;
    }

    .equal{
        grid-column: span 2;
        background-color:#ffab40;
        color: #fff;
    }

    .equal:hover{
        background-color: #ffab40;
    }

